<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="style/css" />
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		  <a href="../../public/assets/img/burger.png">
         <img alt="Qries" src="../../public/assets/img/burger.png"
         width=150" height="70">

		{{{ body }}}
	</body>
</html>