<h2>Burgers that have not been devoured!</h2>

{{!-- check if the burger has been devoured of not, if not puts it in the section list --}}
<ul>
  {{#each burger}}
    {{#unless devour}}
      {{> burger/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured</h2>

{{!-- if burger has been devoured, it goes into this section --}}
<ul>
  {{#each burger}}
    {{#if devour}}
      {{> burger/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

{{!-- place where user can type in burger name, and add it to page --}}
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">burger name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add</button>
</form>
