li, .change-burger {
    margin-left:200px
}

li {
    color: black;
    font-size: large;
    margin-bottom: 20px;
}

.change-burger {
    background-color: pink;
    margin-bottom: 20px;
}

button {
    background-color: pink;
    height: 25px;
    width: 55px;
}

.create-form {
    text-align: center;
}




